.charContainer{
  display: inline-block;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border: 1px solid black
}
.red {
  color: red;
}
.green {
  color: green;
}
.bold{
  font-weight: bold;
}
@media (min-width:500px) {
  .charContainer {
    width : 450px;
  }

}
